body {
  background-image: url('/assets/flowers.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.form {
  p {
    margin: 30px 0;
  }
  .buttn.submit {
    margin-top: 25px;
    min-width: 200px;
    width: 60%;
    font-size: 28px;
    border: 3px solid white;
    color: white;
    &:hover {
      border: 2px solid #5C8368;
      background-color: #5C8368;
      color: white;
    }
  }
}
